body{
  display:grid;
}
.wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding-top: 24px;
    padding-bottom:24px;
    background-color: #ffffff;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    font-family: "Kalam";
  }

header{
   display: grid;
   grid-column: span 12;
}
h1{
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 48px;
}
nav{
  margin: 0px;
}
nav ul li{
  grid-column-start: 6;
  grid-column-end: auto;
    text-decoration:none;
    font-weight: bold;
    text-align: right;
    display: inline-grid;
    margin-right:10px;
    margin-top: 0px;
}
nav ul li a{
  color: black;
}
main{
  grid-column: span 12;
  background-image:url(back.jpg) ;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
main img{
  width: 530px;
  height: 396px;
  border-radius: 15px;
}
.leftop{
margin-left:35px;
margin-right: 35px;
margin-bottom: 35px;
margin-top: 45px;

}
.leftbot{
  margin-left: 35px;
  margin-bottom: 45px;
  margin-right: 35px;
}
.rightop{
  margin-right: 35px;
  margin-bottom: 35px;
  margin-top: 45px;
}
.rightbot{
  margin-right: 35px;
  margin-bottom: 45px;
}
footer{
  display: grid;
}
h2{
  grid-column: span 4;
}