body{
  display:grid;
}
.wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding-top: 24px;
    padding-bottom:24px;
    background-color: #ffffff;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }

header{
   display: grid;
   grid-column: span 12;
}
h1{
  text-align: center;
  margin-bottom: 0px;
}
nav ul li{
  grid-column-start: 6;
  grid-column-end: auto;
    text-decoration:none;
    font-weight: bold;
    text-align: right;
    display: inline-grid;
    margin-right:10px;
    margin-top: 0px;
}
nav ul li a{
  color: black;
}
main{
  grid-column: span 12;
  background-image:url(back.jpg) ;
  margin-left: 0px;
  margin-right: 0px;
}
img{
  width: 530px;
  height: 396px;
  margin: 30px;
}
footer{
  grid-column: span 12;
}
#con{
  display:grid;
  grid-column: span 4;
}
#em{
  display:grid;
  grid-column: span 4;
}